<div class="con">
    <div class="row">
      <div class="col-7 al-left-div">
        <h3 class="al-header">COLLEGE OF INFORMATION AND COMMUNICATIONS TECHNOLOGY</h3>
        <p class="al-title">Research Capsule</p>
        <div class="container">
          <form>
            <div class="mb-3">
              <label for="usr">Email or Username:</label>
              <input type="text" class="form-control" id="usr">
            </div>
            <div class="mb-5">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3 al-center">
              <button class="btn orange-button" type="submit">Login</button>
            </div>
            <div class="al-center">
              <a class="al-title al-li">Forgot Password?</a>
            </div>
          </form>
        </div>
        <a class="orange-button al-li">Create Account</a>
      </div>
      <div class="col-5 al-img-div">
        <div class="overlay"></div>
        <img src="../../../assets/bulsu.jpg" alt="" class="al-side-img">
      </div>
    </div>
</div>


<!-- <mat-card class="con">
  <div class="row">
    <div class="col-7 al-left-div">
      <h3 class="al-header">COLLEGE OF INFORMATION AND COMMUNICATIONS TECHNOLOGY</h3>
      <p class="al-title">Research Capsule</p>
      <div class="container">
        <form>
          <div class="mb-3">
            <mat-form-field class="al-form-field">
              <mat-label>Email or Username:</mat-label>
              <input matInput type="text" class="al-input">
            </mat-form-field>
          </div>
          <div class="mb-5">
            <mat-form-field class="al-form-field">
              <mat-label>Password</mat-label>
              <input matInput type="password" class="al-input">
            </mat-form-field>
          </div>
          <div class="mb-3 al-center">
            <button class="btn orange-button" type="submit">Login</button>
          </div>
          <div class="al-center">
            <a class="al-title al-li">Forgot Password?</a>
          </div>
        </form>
      </div>
      <a class="orange-button al-li">Create Account</a>
    </div>
    <div class="col-5 al-img-div">
      <div class="overlay"></div>
      <img src="../../../assets/bulsu.jpg" alt="" class="al-side-img">
    </div>
  </div>
</mat-card> -->


  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  </form> -->
