
.con{
  width: 100%;
  height: 100%;
  font-family: CenturyGothic;
}

.row{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(240, 240, 240);
}

.al-form-field{
  width: 100%;
}

.al-header, .al-title{
  font-family: 'Poppins', sans-serif;
  color:#F5781C;
}

.al-header{ font-weight: bold; font-size: 1.62vw;}

.al-center{ text-align: center;}

.al-left-div{
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 0 50px;
}

.al-title{ align-self: flex-start !important; }

.al-img-div{
  position: relative;
  padding: 0;
}

.al-side-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.orange-button{
  background-color: rgb(245, 120, 28);
  border-radius: 10px;
  color: white;
  padding: 5px 50px;
  font-weight: bold;
  transition: 0.8 ease-out;
}

.orange-button:hover{
  opacity: 0.5;
}

.al-li{
  text-decoration: none;
  margin-top: 70px;
  cursor: pointer;
  font-weight: bold;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(245, 120, 28,0.5);
}

label{
  font-style: italic;
}
